<!DOCTYPE html>
<html lang="en-US">
<head>
 <meta charset= "utf-8">
 <meta name= "author" meta content="Nicole dos Anjos Aragao">
 <meta name= "description" meta content="This is a tribute to the best dog of all times, Mr Pepito.">
 <link rel="shortcut icon" href="pepito.ico" type="image/x-icon"> 
 <link rel="stylesheet" href="pepito.css">
 <title> Pepito, the great!</title>
</head>
<body>
<main id="main">
  <h1 id= "title"> &#9829Pepito, Pep, Bebinho, Bebitinho&#9829 </h1>
<p>Not just a cute dog</p>
<div id="img-div">
<img id="image" src="pepitojanela.jpg" alt="Cute dog looking outside the window of a house in a farm">
</div>


<section id ="tribute-info">
    <div id="bloco">
    <h3 id="headline"> Here's a timeline of Pepito's life:</h3>
<ul>
   <li> <strong> 2003</strong>- Born in Rio de Janeiro, Brazil. Son of Pepita and Playboy, brother of Nala.</li> 
   <li> <strong> 2004</strong>- Changes his name to Pepito, considers Pumba a name for peasants.</li>
   <li> <strong> 2006</strong>- Hurt his first victim, Ana Luisa, with a brutal attack on her right thigh.</li>
   <li> <strong> 2008</strong>- Spends his summer vacations barking at all living creatures from his private balcony in Rio das Ostras.</li>
   <li> <strong> 2010</strong>- Murdered Donald Duck toy plush and ate his insides.Murdered happened after a few years of a very toxic relationship in which Pepito was the abuser, contantly biting and beating the poor duck up.</li>
   <li> <strong> 2012</strong>- Survived a nasty fall from the top of the stairs of his winter home in Visconde de Maua.</li>
   <li> <strong> 2014</strong>- Bit his mom, dad and sister on their faces when his demands were not attended.</li>
   <li> <strong> 2016</strong>- Ate cake every day for breakfast with his human best friend, accomplice and partner in crime.</li>
   <li> <strong> 2019</strong>- Moved to dog Heaven at age 17. </li>
   <li><strong> 2020 onwards</strong>- Lives forever and ever in our memories and hearts.</li>
</ul>
</div>
<div class="videos">
<video controls width="380px" height="300px">
    <source src="video1.mp4" type="video/mp4">
</video>

<video controls width="380px" height="300px">
    <source src="video2.mp4" type="video/mp4">
</video>

</div>
<p id="album">Click <a title="x-rated pics of Pep" href="https://photos.google.com/share/AF1QipNhzEwBFRxKHqvIZYAis-epXyl5FvNFezF825N5jY4NrbhdqX8_pl-rDre6r5C4_g?key=WUtiTDVkd0NPU0ZzVXJiMzJtYVhmMDQxWldLa2hR" target="_blank">here</a> and get amazed by my beauty and awesomeness.</p>
</section>
<footer></footer>

</main>

</body>
</html>
